N8N Workflows/AI Product Photoshoot.json
{
  "name": "AI Product Photoshoot",
  "nodes": [
    {
      "parameters": {
        "formTitle": "@Algo.Bites",
        "formDescription": "Launching a new product ? get studio level ad creative in minutess.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "what is the products name?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is  the product Tagline ?",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Product Image",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".png.jpg",
              "requiredField": true
            },
            {
              "fieldLabel": "What is the product Category ?",
              "requiredField": true
            },
            {
              "fieldLabel": "Highlighted Benefit ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1504,
        -64
      ],
      "id": "b1308c08-1988-46ff-ad63-8c209b588c59",
      "name": "AI post generater",
      "webhookId": "83c613fd-4eb2-446d-8fb8-a8bbbb489ae0"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"brandName\": \"LUMISÉRA\",\n  \"brandTone\": \"Luxury skincare — clean, calm, and elegant.\",\n  \"colorTheme\": \"Deep sea blues, emerald greens, warm golds, and beige.\",\n  \"backgroundStyle\": \"Soft gradients or realistic textures like water, marble, or satin.\",\n  \"lightingStyle\": \"Always soft, diffused lighting with a subtle spotlight effect and gentle reflections.\",\n  \"productPlacement\": \"The product should feel grounded, not floating — placed on surfaces like trays, marble slabs, or fabric. Props like flower petals, ribbons, or boxes can be used sparingly.\",\n  \"typographyStyle\": \"Use serif fonts in uppercase for titles. For secondary text, use thin script or modern sans-serif. Font color should be white, soft gold, or dark green — never harsh.\",\n  \"compositionGuidelines\": \"Maintain clean symmetry or elegant off-center balance. Always leave intentional space around the product. Keep supporting elements minimal and refined.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        -64
      ],
      "id": "e22347c3-747f-4d71-8ad1-6d378949e7e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.brandName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rfUXgOkSL41_iquAU3H-W1GTHZjcVGMU",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1088,
        -64
      ],
      "id": "33449c3b-3935-435f-b72e-3f5353154b5a",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"brandName\": \"{{ $('Edit Fields').item.json.brandName }}\",\n  \"brandTone\": \"{{ $('Edit Fields').item.json.brandTone }}\",\n  \"colorTheme\": \"{{ $('Edit Fields').item.json.colorTheme }}\",\n  \"backgroundStyle\": \"{{ $('Edit Fields').item.json.backgroundStyle }}\",\n  \"lightingStyle\": \"{{ $('Edit Fields').item.json.lightingStyle }}\",\n  \"productPlacement\": \"{{ $('Edit Fields').item.json.productPlacement }}\",\n  \"typographyStyle\": \"{{ $('Edit Fields').item.json.typographyStyle }}\",\n  \"compositionGuidelines\": \"{{ $('Edit Fields').item.json.compositionGuidelines }} \"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -848,
        -64
      ],
      "id": "0be24e0f-f048-4ae5-b5e2-0d460901639a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -944,
        176
      ],
      "id": "874dbac8-6630-4010-92f8-fcfaa777c425",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"assets\": [\n    {\n      \"assetType\": \"Instagram Post\",\n      \"backgroundTone\": \"soft blush gradient\",\n      \"surfaceType\": \"satin draped cloth\",\n      \"accentProp\": \"gold-trimmed ribbon\",\n      \"lighting\": \"warm spotlight from the side\",\n      \"cameraAngle\": \"45-degree angle\",\n      \"overlayText\": \"Glow deeper. Shine brighter.\"\n    },\n    {\n      \"assetType\": \"Instagram Story\",\n      \"backgroundTone\": \"pale lavender with light streaks\",\n      \"surfaceType\": \"textured ceramic tray\",\n      \"accentProp\": \"scattered rose petals\",\n      \"lighting\": \"top-down diffused glow\",\n      \"cameraAngle\": \"zoomed-in overhead view\",\n      \"overlayText\": \"Hydration you can feel. Right now.\"\n    },\n    {\n      \"assetType\": \"Website Banner\",\n      \"backgroundTone\": \"muted green stone texture\",\n      \"surfaceType\": \"brushed concrete slab\",\n      \"accentProp\": \"eucalyptus branch\",\n      \"lighting\": \"soft angled morning light\",\n      \"cameraAngle\": \"side-profile landscape\",\n      \"overlayText\": \"Glow like never before!\"\n    },\n    {\n      \"assetType\": \"Ad Creative\",\n      \"backgroundTone\": \"deep emerald with gradient fade\",\n      \"surfaceType\": \"reflective glass base\",\n      \"accentProp\": \"frosted crystal orb\",\n      \"lighting\": \"dramatic backlight\",\n      \"cameraAngle\": \"elevated 3/4 angle\",\n      \"overlayText\": \"10% Off Today Only\"\n    },\n    {\n      \"assetType\": \"Testimonial Graphic\",\n      \"backgroundTone\": \"cream linen with subtle shadows\",\n      \"surfaceType\": \"polished marble\",\n      \"accentProp\": \"single white tulip\",\n      \"lighting\": \"natural side lighting\",\n      \"cameraAngle\": \"clean straight-on view\",\n      \"overlayText\": \"My skin has never felt this good.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -672,
        176
      ],
      "id": "2ab1f964-119f-454c-ad5e-ada8082af336",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items\nreturn items.map(item => {\n  return {\n    json: item.json,\n    binary: {\n      image: $node[\"AI post generater\"].binary[\"$('AI post generater').first().json['Upload Product Image']\"]\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -64
      ],
      "id": "803052c3-b904-4700-a409-f0d64452e04e",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.assets[0].assetType }}",
                    "rightValue": "Instagram post ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c496d94-67a6-463c-bf55-f1e015c82dcf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "false"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e4a6462-7bdb-4549-8034-6d979fc3a287",
                    "leftValue": "={{ $json.output.assets[1].assetType }}",
                    "rightValue": "Instagram story ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "197e5d94-ee69-46f1-94d1-7bbe39a95dad",
                    "leftValue": "={{ $json.output.assets[2].assetType }}",
                    "rightValue": "Website Banner",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2e909439-e8ea-43be-9cd8-867f32a198fe",
                    "leftValue": "={{ $json.output.assets[3].assetType }}",
                    "rightValue": "Ad creative",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2ba6092-21ad-4455-a977-865d1f909b9a",
                    "leftValue": "={{ $json.output.assets[4].assetType }}",
                    "rightValue": "Testimonial Graphic",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -272,
        -64
      ],
      "id": "55a43852-0d5b-443c-828a-2b3026217ebe",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://openai.com/v1/images/edits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <your-api-key>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Model",
              "value": "gpt-image-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -96
      ],
      "id": "30b1bacb-5709-4220-993c-8787955c7afd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## AI Product Photoshoot",
        "height": 80,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -208
      ],
      "typeVersion": 1,
      "id": "12e73769-fe13-481d-949c-620a9c6c3846",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "AI post generater": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dca2a680-ca50-4c65-8714-c86edd306094",
  "meta": {
    "instanceId": "81806a7c98bb8d237bfcc1a0a10e3354bbc01ea162f99fd0b145ef31b6331051"
  },
  "id": "rd1DkTN4Ci5ExwFN",
  "tags": []
}