N8N Workflows/Save Workflows to Google Drive.json
{
  "name": "Save Workflows to Google Drive",
  "nodes": [
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $json.name + \".json\" }} "
        }
      },
      "id": "b9ceabdc-b876-424f-ab26-37111d3dd00e",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        736,
        2064
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "ed52897f-f1cf-4781-b76c-198504e05f66",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -160,
        2080
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "538fc29d-2693-4c62-9848-bdcaf8566909",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Create new folder').item.json.id }}"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "id": "c0f8fe38-dbb9-4381-9f60-9deed0c44856",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        736,
        1888
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "deleteFolder",
        "folderNoRootId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "id": "03be3a71-66ac-4914-995e-5c1a48c6d038",
      "name": "delete folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        960,
        1888
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12V9t6LOQLc33-BjDPk3ShgDeW2DvN_ua",
            "mode": "list",
            "cachedResultName": "Workflow Backups",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12V9t6LOQLc33-BjDPk3ShgDeW2DvN_ua"
          }
        },
        "options": {}
      },
      "id": "19349d21-4be0-4c27-83d5-80e543aa4095",
      "name": "Get folders",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        288,
        1888
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "f64bf7a1-6745-4254-9e9e-d9ea386d3374",
      "name": "Manual trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -160,
        1888
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "12oEaUMItI7unIJ5NLizlXtn9F8liAxN5",
          "mode": "list",
          "cachedResultName": "N8N Workflows Backup",
          "cachedResultUrl": "https://drive.google.com/drive/folders/12oEaUMItI7unIJ5NLizlXtn9F8liAxN5"
        },
        "options": {}
      },
      "id": "a8b5ff9d-c828-4508-bed2-9550e7bb8999",
      "name": "Create new folder",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        64,
        1984
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "73655520-8420-4009-94c5-3de05f515467",
      "name": "Loop ",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        512,
        2080
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "name": "={{ $('Loop ').item.json.name + \".json\" }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create new folder').item.json.id }}"
        },
        "options": {}
      },
      "id": "69364c08-716f-4732-b8a1-08f23ffcc02a",
      "name": "Upload workflow",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        960,
        2080
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "d5b6c143-d384-4208-8a4e-955114a2c835",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        512,
        1888
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "abf006c4-c6f0-4d04-a407-05077e85a4cf",
      "name": "Get n8n workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        288,
        2080
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# 🔄 Workflow Backup for n8n → Google Drive\n\nAn automated system to back up all your n8n workflows and store them as `.json` files in Google Drive.  \nPerfect for creators, teams, and agencies who want to protect their work without manual effort.\n\n---\n\n## ✨ What this workflow does\n\n- Creates a new folder in Google Drive named `Workflow Backups [date]`\n- Fetches all workflows from your n8n instance via the `n8n API`\n- Converts each workflow into a `.json` file\n- Uploads the files to the created backup folder\n- (Optionally) Deletes old backup folders to keep things tidy\n- Can run manually or automatically (e.g., weekly)\n\n---\n\n## 🛠 Requirements\n\n- A Google account with access to Google Drive\n- Connected `Google Drive OAuth2` credentials in n8n\n- Active `n8n API credentials`\n- Enabled trigger: `Manual` or `Schedule`\n\n---\n\n## ⚙️ Installation Instructions\n\n1. **Import the workflow** (`Workflow_Backup_copy.json`) into your n8n instance\n2. **Set up credentials:**\n   - Replace `Google demo` with your own `Google Drive OAuth2` in the following nodes:\n     - `Create new folder`\n     - `Get folders`\n     - `Upload workflow`\n     - `delete folder`\n   - Replace `n8n demo` with your `n8n API` credentials in `Get n8n workflow`\n3. **Replace the folder ID** in the `Create new folder` node with the target backup folder on your Drive (`folderId`)\n4. **Optional:** Configure `Schedule Trigger` to run weekly or at your preferred interval\n\n---\n\n## 📦 Workflow Structure\n\n```\nManual/Schedule Trigger\n      ↓\nCreate new folder (Google Drive)\n      ↓\nGet n8n workflows (via API)\n      ↓\nLoop through workflows\n      ↓\nConvert to .json files\n      ↓\nUpload to Drive\n      ↓\n(Optional) Delete old backup folders\n```\n\n---\n\n## ✅ Tips\n\n- Add logic to retain only the latest X backups (e.g., last 3).\n- The workflow can run fully hands-free once scheduled.\n- Want to store files elsewhere? Swap out the upload node for Dropbox, S3, etc.\n",
        "height": 1660,
        "width": 1320,
        "color": 4
      },
      "id": "d9e8362e-26fc-45a6-ba44-fa991088e27e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Manual trigger": {
      "main": [
        [
          {
            "node": "Create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new folder": {
      "main": [
        [
          {
            "node": "Get n8n workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get n8n workflow": {
      "main": [
        [
          {
            "node": "Loop ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop ": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get folders": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "delete folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcaa1629-b5ac-493c-8b16-0230b03f8f1b",
  "meta": {
    "instanceId": "4b3e4819e187f0e6bb46037a1f4d87a4a987cc4521fb3e706ce45fca5ff7a5d1"
  },
  "id": "so4p9Q8nU7SYWQVo",
  "tags": []
}